.flight-card {
  background: var(--alt-background);
  border: 1px solid var(--alt-background);
  border-radius: 8px;
  width: 100%;
  margin-bottom: 1.6rem;
  padding: 1rem;
  cursor: pointer;
  transition: background 0.2s, filter 0.2s, border-color 0.2s;
}

.flight-card:hover {
  border-color: white;
  filter: brightness(0.9);
}

.flight-card--active {
  border-color: white;
}

.flight-card--disabled {
  background: var(--disabled);
  pointer-events: none;
}

.flight-card__name {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 0.8rem;
}

.flight-card__info {
  display: flex;
  justify-content: space-around;
}

.flight-card__leg {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.flight-card__leg-name {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0.8rem 0;
}

.flight-card__leg-time {
  font-size: 1.2rem;
}

@media (min-width: 450px) {
  .flight-card {
    width: 48%;
  }
}

@media (min-width: 768px) {
  .flight-card {
    width: 20rem;
  }
}
