.flight-list {
  margin-bottom: 5rem;
}

.flight-list__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flight-list__load-more-container {
  display: flex;
  justify-content: center;
}

.flight-list__load-more {
  background: var(--alt-background);
  color: var(--text);
  border: 0;
  border-radius: 24px;
  padding: 1rem 2rem;
  transition: filter 0.2s;
  cursor: pointer;
}

.flight-list__load-more:hover {
  filter: brightness(0.9);
}
