* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #475F94;
  --secondary: #3B719F;
  --background: #475F94;
  --text: #FFF;
  --nav-background: #FDDC5C;
  --nav-text: #475F94;
  --alt-background: #3B719F;
  --disabled: #BBB;
  --timeline-background: #BBB;
  --timeline-stroke: #000;
  --white: #FFF;
  --green: #0A0;
  --purple: #A0A;
  --red: #F00;
}

body {
  color: var(--text);
  background-color: var(--background);
}

html {
  font-size: 8px;
}

body, input, button, textarea {
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 992px) {
  html {
    font-size: 10px;
  }
}
