.home {
  width: 100%;
  height: calc(100vh - 10.4rem);
  max-width: 110rem;
  margin: 0 auto;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
}

.home__headline {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1.6rem;
  text-align: center;
}

.home__status {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

.home__status .home__headline {
  margin-bottom: 0;
}

.home__status-text {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.home__status-text svg {
  margin-left: 1rem;
}

.home__status-valid {
  color: var(--green);
}

.home__status-invalid {
  color: var(--red);
}

.flight-list__load-more {
  width: 100%;
  font-size: 1.6rem;
  background: var(--alt-background);
  color: var(--text);
  border: 0;
  border-radius: 24px;
  padding: 1rem 2rem;
  transition: filter 0.2s;
  cursor: pointer;
}

.flight-list__load-more.loading {
  pointer-events: none;
}

.flight-list__load-more:hover {
  filter: brightness(0.9);
}

@media (min-width: 768px) {
  .home .container {
    flex-grow: 1;
  }

  .home .row, .home .column {
    height: 100%;
  }

  .home .column {
    display: flex;
    flex-direction: column;
  }
}
