.navigation {
  height: 6.4rem;
  color: var(--nav-text);
  background: var(--nav-background);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation__title {
  display: flex;
  align-items: center;
}

.navigation__name {
  font-size: 2rem;
  margin-left: 1.6rem;
}

@media (min-width: 768px) {
  .navigation__name {
    font-size: 3.2rem;
  }
}
